<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>VueJS: Componentes</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- TODO: Cargar CSS Bootstrap (no es necesario el JS) -->
    </head>

    <body>

        <h1 id="autor">Autor: {{ name }}</h1>

        <!-- https://vuejs.org/v2/guide/index.html -->

        <div id="app">
            <div class="jumbotron">
                <h1 id="title">{{ col.collection.title }}</h1>
            </div>
            <div class="card-group"style="margin-left:100px;margin-right: 100px">
                <div  v-for="obj in col.collection.items" v-for="obj in col.collection.items" is="item-data" v-if="obj.visible" v-bind:element="obj"></div>
               <div v-else is="edit-form"  v-blind:elemet="obj"></div>
            </div>
        </div>


        <!-- Plantilla para el componente edit-form -->
        <script type="text/x-template" id="editForm">
            
        </script>



        <!-- Plantilla para el componente item-data -->
        <script type="text/x-template" id="itemData">
            <div class="card">
            <div class="card-body">
                <dl>
                    <div v-for="pelis in obj.data">
                        <dt>
                            <h5 class="card-title">{{pelis.prompt}}</h5>
                        </dt>
                        <dd>
                            <p class="card-text">{{pelis.value}}</p>
                        </dd>
                    </div>
                </dl>
                <a v-bind:href="obj.href" class="btn btn-primary">Ver</a>
                <button class="btn btn-secondary" >Editar</button>
                </div>
            </div>
        </script>


        <!-- TODO: Cargar librería VueJS y archivo js/script.js -->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script type="text/javascript" src="./js/script.js"></script>


    </body>

</html>
